.banner_bg_main {
    margin-bottom: 50px;
}

.title {
    color:black;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
    font-size: 3em;
    letter-spacing: 2px;
}

.container {
    text-align: center;
}

.product_price {
    text-decoration: underline;
    color: rgb(255, 153, 0);
}

.product_name {
    font-size: 20px;
    color: black;
}

.product_name a:hover {
    color: rgb(255, 153, 0);
}

.product_description {
    color:gray;
    font-size: 12px;
}

img {
    width: 150px;
    height: 225px;
}

/* LEFT-SIDE BAR (ORDER ITEMS BY PRICE OR RATING) */

/* .container,
.container-lg,
.container-md,
.container-sm {
  max-width: 95%;
} */

.grid-container {
  display: grid;
  grid-template-columns: 15% auto;
  /* grid-template-columns: auto auto; */
  /* gap: 0.5px; */
  background-color: #ffffff;
  padding: 0px;
}

/* .grid-container>div {
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 5px 0;
  font-size: 30px;
} */

.s341-filter-option-sidebar {
  grid-row: 1 / 10;
}

.s341-filter-items {
  font-size: small;
  text-align: center;
}

.s341-filter-item-header {
  font-size: large;
  text-align: left;
  -webkit-text-stroke: thin;
}

.list-group {
  border-right: inset;
}

.btn.btn-link:disabled {
  color: black;
}