.banner_bg_main {
    margin-bottom: 50px;
}

.title {
    color:black;
    text-align: center;
    margin-bottom: 30px;
    font-size: 3em;
    letter-spacing: 2px;
}

.products-display {
    text-align: center;
    margin-left: 25px;
}

.product_price {
    text-decoration: underline;
    color: rgb(255, 153, 0);
}

.product_name {
    font-size: 20px;
    color: black;
}

.product_name a:hover {
    color: rgb(255, 153, 0);
}

.product_description {
    color:gray;
    font-size: 12px;
}

img {
    width: 150px;
    height: 225px;
}

/* LEFT-SIDE BAR (ORDER ITEMS BY PRICE OR RATING) */

/* .container,
.container-lg,
.container-md,
.container-sm {
  max-width: 95%;
} */

.grid-container {
  display: grid;
  grid-template-columns: 15% auto;
  /* grid-template-columns: auto auto; */
  /* gap: 0.5px; */
  background-color: #ffffff;
  padding: 0px;
}

/* .grid-container>div {
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 5px 0;
  font-size: 30px;
} */

.s341-filter-option-sidebar {
  grid-row: 1 / 10;
}

.s341-filter-items {
  font-size: small;
  text-align: center;
}

.s341-filter-item-header {
  font-size: large;
  text-align: left;
  -webkit-text-stroke: thin;
}

.list-group {
  border-right: inset;
}

.btn.btn-link:disabled {
  color: black;
}

.a_v_product {
  text-decoration: underline;
  font-size: 13px;
}

.a_v_product a:hover {
  color: rgb(255, 153, 0);
}

.a_m_product {
  text-decoration: underline;
  font-size: 13px;
}

.a_m_product a:hover {
  color: rgb(255, 153, 0);
}

.add_prod {
  font-size: 20px;
  text-align: left;
  margin-left: 0px;
  text-decoration: underline;
  color:#ffffff;
}

/* .add_prod a:hover {
  color: rgb(255, 153, 0);
  background-color: red;
} */

.new_prod_btn {
  background-color: rgb(80,200,120);
  border-radius: 4px;
  width: 220px;
  height: 50px;
}

.new_prod_btn:hover {
  background-color: green;
}

.filter_by_cat {
  font-size: 20px;
  text-decoration: underline;
}

.sidenav {
  height: 100%;
  width: 200px; 
  position: absolute; 
  z-index: 1; 
  top: 550px; 
  left: 145px;
  background-color: white;
  overflow-x: hidden; 
  padding-top: 10px;
}

.sidenav a {
  color: black;
  font-size: 15px;
  display: block;
  text-align: left;
  text-decoration: none;
}

.sidenav a:hover {
  color: rgb(255, 153, 0);
}

.body-data {
  text-align: center;
}

#add_category_field {
  text-align: center;
  margin:auto;
  width: 40%;
}

.manage-category {
  margin: 15px;
}