* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
    margin: 0px;
    padding: 0px;
}

#page-content {
    min-height: 101vh;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
button:focus {
    outline: none;
}

ul, li, ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a, .btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}


/* banner bg main start */

.banner_bg_main {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(255, 153, 0);
    padding-bottom: 50px;
}


/* banner bg main end */


/* header top section start */

.header_section_top {
    width: 100%;
    float: left;
    background-color: #2b2a29;
    clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
    height: auto;
    padding: 10px 0px;
}

.custom_menu {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.custom_menu ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.custom_menu li {
    float: left;
    font-size: 16px;
    color: #f1f1f1;
    padding: 6px 10px 0px 10px;
}

.custom_menu li a {
    color: #f1f1f1;
}

.custom_menu li a:hover {
    /* color: #f26522; */
    border: 2px solid white;
    padding: 3px;
}


/* header top section end */


/* logo section start */

.logo_section {
    width: 100%;
    float: left;
}

.logo {
    width: 100%;
    float: left;
    text-align: center;
    padding: 30px 0px;
}

.logo a {
    color: white;
    font-size: 4em;
    font-weight: 700;
}


/* logo section end */


/* header section start */

.header_section {
    width: 100%;
    display: flex;
}

.containt_main {
    display: flex;
}


/* opennav bar start */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    /* color: #f26522; */
    border: 2px solid white;
    padding: 3px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.toggle_icon {
    cursor: pointer;
    color: #ffffff;
    order: 2;
}

.header_box {
    order: 2;
    display: flex;
}

.dropdown,
.dropleft,
.dropright,
.dropup {
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    margin-left: 30px;
    order: 2;
}

.btn-secondary {
    color: #fff;
    background-color: #30302e;
    border-color: #30302e;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #30302e;
    border-color: #30302e;
}

.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}


/* opennav bar end */

#first_slide {
    bottom: -10px;
}

#second_slide {
    position: absolute;
    bottom: 200px;
    left: 800px;
}

#third_slide {
    position: absolute;
    bottom: 200px;
    left: -400px;
}


/* Styles for wrapping the search box start */
.main {
    flex: 1;
    margin: 0px 30px;
    display: inline-block;
    order: 2;
}

.login_menu {
    display: flex;
    text-align: right;
    float: right;
}

.login_menu ul {
    margin: 0px;
    padding: 0px;
}

.login_menu li {
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 10px;
    padding-top: 4px;
}

.login_menu li a {
    color: #ffffff;
}

.login_menu li a:hover {
    border: 2px solid white;
    padding: 3px;
}

.login_menu .text {
    margin: 0 10px;
}

.padding_10 {
    padding-left: 10px;
}


/* Flage css */

.lang_box {
    display: flex;
    float: right;
    background: #fff;
    border-radius: 5px;
    margin-right: 20px;
}

.nav-link {
    display: block;
    padding: .4rem 1rem;
}

a:hover {
    text-decoration: underline;
}

/* Banner Section  */

.banner_section {
    width: 100%;
    float: left;
    padding-top: 0px;
    margin-bottom: 100px;

}

.carousel-item img {
    height: 400px;
}

.carousel-text-title {
    color: rgb(255, 153, 0);
    font-size: 2.5em;
}

.carousel-text-description {
    color: rgb(255, 153, 0);
    font-size: 2em;
}

#my_slider .carousel-control-next {
    right: 20px;
    top: 170px;
}

#my_slider .carousel-control-prev {
    left: 20px;
    top: 170px;
}

#my_slider .carousel-control-prev:hover {
    background-color: rgb(168, 137, 74);
}

#my_slider .carousel-control-next:hover {
    background-color: rgb(168, 137, 74);
}

#my_slider .carousel-control-next,
#my_slider .carousel-control-prev {
    width: 45px;
    height: 45px;
    background: rgb(255, 153, 0, 0.80);
    opacity: 1;
    font-size: 20px;
    color: #000;
    border-radius: 100px;
}

#my_slider .carousel-control-next:focus,
#my_slider .carousel-control-next:hover,
#my_slider .carousel-control-prev:focus,
#my_slider .carousel-control-prev:hover {
    color: #fff;
}

/* Fashion Section */

.book_section, .electronic_section, .watches_section {
    width: 100%;
    float: left;
    padding-bottom: 100px;
}

.watches_section {
    padding-bottom: 50px;
}

.title_section {
    width: 100%;
    font-size: 40px;
    color: #30302e;
    text-align: center;
    font-weight: bold;
}

.item_section {
    width: 100%;
    margin-top: 30px;
}

.box_main {
    width: 100%;
    background-color: #ffffff;
    height: auto;
    padding: 20px;
    box-shadow: 0px 0 30px 10px #f0f0f0;
    margin-bottom: 20px;
}

.box_main img {
    width: 200px;
    height: 300px;
}

.product_text {
    width: 100%;
    font-size: 20px;
    color: #30302e;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}

.price_text {
    width: 100%;
    font-size: 16px;
    color: rgb(255, 153, 0);
    text-align: center;
    margin: 0px;
}

.product_price {
    color: #262626;
}

.product_img {
    width: 100%;
    text-align: center;
    margin: 50px 0px;
    min-height: 370px;
}

.btn_main {
    width: 100%;
    display: flex;
}

.buy_bt {
    float: left;
    width: 100%;
}

.buy_bt a {
    width: 100%;
    font-size: 16px;
    color: rgb(255, 153, 0);
    background-color: transparent;
    text-align: right;
    font-weight: bold;
}

.buy_bt a:hover {
    background-color: transparent;
    color: #262626;
}

.seemore_bt {
    width: 100%;
    float: right;
    text-align: right;
}

.seemore_bt a {
    width: 100%;
    font-size: 16px;
    color: #262626;
    background-color: transparent;
    text-align: right;
}

.seemore_bt a:hover {
    background-color: transparent;
    /* color: #f26522; */
    border: 2px solid white;
    padding: 3px;
}

/* fashion section end */

/* jewellery section start */

.jewellery_section {
    width: 100%;
    float: left;
    padding-bottom: 50px;
}


/* Loader Bar CSS  */

.loader_main {
    width: 100%;
    text-align: center;
    margin-top: 140px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #414744;
    border-right: 16px solid rgb(255, 153, 0);
    border-bottom: 16px solid #414744;
    border-left: 16px solid rgb(255, 153, 0);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 6s linear infinite;
    margin: 0 auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Jewellery section end */

#back_to_top {
    width: 100%;
    background-color: red;
    height: 50px;
}


/* footer section start */

.footer_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
}

.footer_logo {
    width: 100%;
    text-align: center;
}

.footer_logo h1 {
    color: white;
    font-size: 4em;
    font-weight: 700;
}

.input_bt {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    border-bottom: 1px solid #ffffff !important;
}

.mail_bt {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    padding: 5px 0px 5px 0px;
    height: 60px;
    border: 0px;
}

input.mail_bt::placeholder {
    color: #fff;
}

.subscribe_bt {
    width: 30%;
    float: right;
    font-size: 16px;
    color: rgb(255, 153, 0);
    background-color: transparent;
    padding: 20px 0px 5px 0px;
    border-radius: 30px;
    border: 0px;
    text-transform: uppercase;
    text-align: right;
}

.subscribe_bt a {
    color: rgb(255, 153, 0);
}

.subscribe_bt a:hover {
    color: #ffffff;
}

.footer_menu {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.footer_menu ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.footer_menu li {
    float: left;
    font-size: 16px;
    color: #f1f1f1;
    padding: 20px 10px 0px 10px;
}

.footer_menu li a {
    color: #f1f1f1;
}

.footer_menu li a:hover {
    /*  color: #f26522;*/
    border: 2px solid white;
    padding: 3px;
}

.location_main {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

.location_main {
    float: left;
    font-size: 16px;
    color: #ffffff;
    padding: 30px 30px 30px 30px;
}

.location_main a {
    color: #ffffff;
}

.location_main a:hover {
    /* color: #f26522; */
    border: 2px solid white;
    padding: 3px;
}


/* footer section end */


/* copyright section start */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin: 20px 0px;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    /* color: #f26522; */
    border: 2px solid white;
    padding: 3px;
}

.margin_top90 {
    margin-top: 90px;
}


/* copyright section end */

#sign_in_footer {
    text-align: center;
    padding: 60px 0;
}

#sign_in_footer #first {
    font-weight: 500;
}

#sign_in_footer input {
    background-color: rgb(255, 153, 0);
    padding: 5px 120px;
    border: none;
    border-radius: 5px;
}

.line {
    margin: 0;
    padding: 0;
}

#start_here {
    color: rgb(255, 153, 0);
}

#start_here:hover {
    color: black;
}

.contact-succ {
    margin-top: 20px;
    background-color: lightgreen;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #155724;
    padding: 10px 0;
}

.form-group {
    margin-bottom: 15px;
}

#contact-div {
    text-align: center;
    min-height: 105vh;
}

#contact-form {
    display: inline-block;
}

#contact-p {
    margin-top: 0;
    padding-top: 0;
}

.contact-error {
    color: red;
}

.form-group label {

}

